mixin dropdown()
  .dropdown
    .title_and_status
      h3.title Dropdown
      h3.status Default
    <select id="mounth">
      <option value="hide">Сколько гостей</option>
      <option value="people" rel="icon-temperature">взрослые</option>
      <option value="people">дети</option>
      <option value="people">младенцы</option>
      <option value="ready"></option>
    </select>
