-
  menuItems = [
    {
      name: 'demo',
      href: '/demo.html'
    }, {
      name: 'profile',
      href: '/profile.html'
    }, {
      name: 'news & events',
      href: '/activity.html'
    }, {
      name: 'messages',
      href: '/messages.html'
    }
  ]

  colorItems = [
    {
      name: 'Dark Shade 100%',
      variable: 'rgb(31, 32, 65)',
      hex: '#1F2041'
    }, {
      name: 'Dark Shade 75%',
      variable: 'rgba(31, 32, 65, 0.75)',
      hex: '#1F2041'
    }, {
      name: 'Dark Shade 50%',
      variable: 'rgba(31, 32, 65, 0.5)',
      hex: '#1F2041'
    }, {
      name: 'Dark Shade 25%',
      variable: 'rgba(31, 32, 65, 0.25)',
      hex: '#1F2041'
      
    }, {
      name: 'Dark Shade 5%',
      variable: 'rgba(31, 32, 65, 0.05)',
      hex: '#1F2041'
    }, {
      name: 'Purple',
      variable: '#BC9CFF',
      hex: '#BC9CFF'
    }, {
      name: 'Green',
      variable: '#6FCF97',
      hex: '#6FCF97'
    }
  ]