extends ../base/base
include ../../components/layout/layout
include ../../components/text-field/text-field
include ../../components/dropdown-input/dropdown
include ../../components/checkbox/checkbox
include ../../components/radio_button/radio_button
include ../../components/toggle/toggle



block variables
  script(type="text/javascript", src="../../../node_modules/maskedinput/dist/jquery.inputmask.bundle.js")
  

block title
  | Colors & type



//-block header
  h2 i am header vrode
  +test_header()
block layout_main
  include ../../components/logo-demo/logo-demo
  +layout__main()
    +layout__container()
      block main
        //-.colors_and_type
          +colors-demo(colorItems)
          +types()
        .top_elements
          .column-1
            .input_elements
              +text-field()
              +text-field('hover') //-можно передать Type формы
              +dropdown()
              +text-field('masked')
            .input_elemets-second
              form(action="")
                +text-field('subscription')
              form(action="")
                +text-field('subscription')
              form(action="")
                +text-field('subscription')
          .column-2
            .checbox_buttons 
              h3.checbox_buttons_title Checkbox buttons
              +checkbox('Можно курить')
              +checkbox("Можно с питомцами" , 'checked')
              +checkbox("Можно пригласить гостей (до 10 человек)" , 'checked')
            .radio_buttons
              h3.radio_buttons_title Radio buttons
              +radio_button('Мужчина','checked')
              +radio_button('Женщина','checked')
            .toggles
              h3.radio_buttons_title Toggle
              +toggle('on')
              +toggle()
          .column-3
            h3 column3
            
