/*
.colors_and_type{
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}
*/


.top_elements{
  display: grid;
  grid-auto-flow: column;
  padding-top: 60px;
}
.column-2 > div:not(:first-child) {
  margin-top: 35px;
}

.checkbox_buttons{
  width: fit-content;
}

.column__title {
  margin-bottom: 10px;
}
.range_buttons_title{
  display: inline-block;
}

.input_elements{
  width: fit-content;

  & > :not(:first-child){
    margin-top: 20px;
  }
}
.input_elemets-second {
  width: fit-content;
  margin-top: 48px;

  & > :not(:first-child){
    margin-top: 41px;
  }
}