/*
.colors_and_type{
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}
*/
h3{
  display: inline-block;
}

.top_elements{
  display: grid;
  grid-auto-flow: column;
  padding-top: 60px;
}
.column-2{
  width: fit-content;
}
.checkbox_buttons{
  width: fit-content;
}
.input_elements{
  width: fit-content;

  & > :not(:first-child){
    margin-top: 20px;
  }
}
.input_elemets-second {
  width: fit-content;
  margin-top: 48px;

  & > :not(:first-child){
    margin-top: 41px;
  }
}