/*
.colors_and_type{
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}
*/

.top_elements{
  display: grid;
  grid-auto-flow: column;
  padding-top: 60px;
}
.column-2{
  width: fit-content;
}
.checkbox_buttons{
  width: fit-content;
}

.toggles{
  margin-top: 30px;
}

.radio_buttons {
  margin-top: 35px;
}
h3.radio_buttons_title {
  margin-bottom: 8px;
}

.like_buttons {
  margin-top: 35px;
}
h3.like_buttons_title {
  margin-bottom: 8px;
}



.input_elements{
  width: fit-content;

  & > :not(:first-child){
    margin-top: 20px;
  }
}
.input_elemets-second {
  width: fit-content;
  margin-top: 48px;

  & > :not(:first-child){
    margin-top: 41px;
  }
}