@import '../../theme/variables.scss';
.type{
  
  .type-name{
    width: 37px;
    text-align: right;
    float: left;
    margin-right: 30px;
  :only-child {
    color: $color-dark-25;
    font-family: 'Montserrat';
    font-weight: normal;
  }
  }
  .one-type {
    display: inline-block;
    margin:0 25px 47px 0;
    max-width: 350px;
  }
}

